.project {
  display: flex;
  cursor: pointer;

  .project-image {
    @apply border-2 border-myBlue drop-shadow-lg;
  }

  .project-description,
  .project-image {
    @apply border-gray-300;
    @apply rounded;
  }

  &:hover {
    .project-description,
    .project-image {
      @apply border-myBlue;
    }
  }
}
